[Unit]
Description=Immich Machine Learning

[Container]
ContainerName=immich_machine_learning
Image=ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION}
Network=immich.network
NetworkAlias=immich-machine-learning
Volume=immich-model-cache.volume:/cache
EnvironmentFile=/var/lib/cloudyhome/apps/immich/env

[Service]
EnvironmentFile=/var/lib/cloudyhome/apps/immich/env
Restart=always

[Install]
WantedBy=multi-user.target
