[Unit]
Description=Immich PostgreSQL

[Container]
ContainerName=immich_postgres
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
Network=immich.network
NetworkAlias=database
Volume=${DB_DATA_LOCATION}:/var/lib/postgresql/data
EnvironmentFile=/var/lib/cloudyhome/apps/immich/env
ShmSize=128m
HealthCmd=/bin/sh -c 'pg_isready --dbname="$${DB_DATABASE_NAME}" --username="$${DB_USERNAME}" || exit 1'
HealthInterval=10s
HealthStartPeriod=20s
HealthRetries=10
Notify=healthy

[Service]
EnvironmentFile=/var/lib/cloudyhome/apps/immich/env
ExecStartPre=/usr/bin/mkdir -p ${DB_DATA_LOCATION}
Restart=always

[Install]
WantedBy=multi-user.target
