[Unit]
Description=ImmichFrame
Requires=immich-server.service
After=immich-server.service

[Container]
ContainerName=immichframe
Image=ghcr.io/immichframe/immichframe:latest
Network=immich.network
Volume=/var/lib/cloudyhome/apps/immich/Settings.yml:/app/Config/Settings.yml:ro
PublishPort=8080:8080
Environment=IMMICHFRAME_CONFIG_PATH=/app/Config
EnvironmentFile=/var/lib/cloudyhome/apps/immich/env

[Service]
Restart=always
RestartSec=10s
StartLimitBurst=20
StartLimitIntervalSec=600

[Install]
WantedBy=multi-user.target
