General:
  AuthenticationSecret: null
  DownloadImages: false
  Language: en
  ShowClock: true
  UnitSystem: 'metric'
  ClockFormat: 'HH:mm'
  PlayAudio: false
  PrimaryColor: '#f5deb3'
  SecondaryColor: '#000000'
  Style: none
  BaseFontSize: 16px
  Interval: 600
  ImageZoom: false
  ImagePan: false
  ImageFill: false
  Layout: 'splitview'
Accounts:
  - ImmichServerUrl: "{{ app.immich_server_url }}"
    ApiKey: "{{ app.immich_frame_api_key }}"
    ImagesFromDate: "2014-01-01"
    ShowMemories: false
    ShowArchived: false
    ShowVideos: false
