#cloud-config

users:
  - name: ${build_username}
    uid: 9999
    groups:
      - sudo
    shell: /bin/bash
    lock_passwd: false
    plain_text_passwd: ${build_password}
    sudo: ALL=(ALL) NOPASSWD:ALL

ssh_pwauth: true
disable_root: true

package_update: true
package_upgrade: true
package_reboot_if_required: true
packages:
  - qemu-guest-agent
  - ansible-core
  - git

bootcmd:
  - mkdir -p /usr/local/libexec/cloudyhome-sync
  - mkdir -p /etc/sops/age
  - mkdir -p /etc/ssh-keysign/

write_files:
  - path: /usr/local/libexec/cloudyhome-sync/git-sync.sh
    owner: root:root
    permissions: '0750'
    content: |
      #!/usr/bin/env bash
      set -euo pipefail

      REPO_URL="https://github.com/binarycodes/homelab-self-provisioner.git"
      TARGET_DIR="/var/lib/cloudyhome/ansible"

      if [[ ! -d "$TARGET_DIR/.git" ]]; then
          git clone -b main --single-branch "$REPO_URL" "$TARGET_DIR"
      else
          git -C "$TARGET_DIR" fetch --all --prune
          git -C "$TARGET_DIR" reset --hard origin/main
      fi

  - path: /etc/systemd/system/cloudyhome-sync.service
    owner: root:root
    permissions: '0644'
    content: |
      [Unit]
      Description=Sync CloudyHome ansible self provisioning repo
      After=network-online.target
      Wants=network-online.target

      [Service]
      Type=oneshot
      ExecStartPre=/usr/bin/mkdir -p /var/lib/cloudyhome/ansible
      ExecStart=/usr/local/libexec/cloudyhome-sync/git-sync.sh

      [Install]
      WantedBy=multi-user.target

  - path: /etc/systemd/system/cloudyhome-provision@.service
    owner: root:root
    permissions: '0644'
    content: |
      [Unit]
      Description=CloudyHome self provisioning for %i
      Requires=cloudyhome-sync.service
      Wants=network-online.target
      After=network-online.target cloudyhome-sync.service
      ConditionPathExists=/var/lib/cloudyhome/ansible/%i.yml
      ConditionPathExists=/var/lib/cloudyhome/ansible/requirements.yml

      [Service]
      Type=oneshot
      Environment=DEBIAN_FRONTEND=noninteractive
      WorkingDirectory=/var/lib/cloudyhome/ansible
      ExecStartPre=/usr/bin/ansible-galaxy install -r requirements.yml
      ExecStart=/usr/bin/ansible-playbook %i.yml
      ExecStartPost=/usr/bin/touch /var/lib/cloudyhome/ansible-pull.%i.done

      [Install]
      WantedBy=multi-user.target

runcmd:
  - systemctl daemon-reload
  - systemctl start cloudyhome-provision@packer.service
