[Unit]
Description=UniFi OS Server
Wants=network-online.target
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=300

[Container]
ContainerName=unifi-os-server
Image=ghcr.io/lemker/unifi-os-server:latest
AddCapability=NET_RAW NET_ADMIN
AddHost=host.docker.internal:host-gateway
Tmpfs=/run:exec
Tmpfs=/run/lock
Tmpfs=/tmp:exec
Tmpfs=/var/lib/journal
Tmpfs=/var/opt/unifi/tmp:size=64m
Environment=UOS_SYSTEM_IP={{ app.unifi_system_ip }}
Volume=/sys/fs/cgroup:/sys/fs/cgroup:rw
Volume={{ application_root }}/{{ app.name }}/persistent:/persistent
Volume={{ application_root }}/{{ app.name }}/var-log:/var/log
Volume={{ application_root }}/{{ app.name }}/data:/data
Volume={{ application_root }}/{{ app.name }}/srv:/srv
Volume={{ application_root }}/{{ app.name }}/var-lib-unifi:/var/lib/unifi
Volume={{ application_root }}/{{ app.name }}/var-lib-mongodb:/var/lib/mongodb
Volume={{ application_root }}/{{ app.name }}/etc-rabbitmq-ssl:/etc/rabbitmq/ssl
PublishPort=11443:443
PublishPort=8080:8080
PublishPort=3478:3478/udp
PublishPort=10003:10003/udp
PublishPort=127.0.0.1:11084:11084
# compose `cgroup: host`; no native quadlet key
PodmanArgs=--cgroupns=host
LogDriver=journald

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
