proxmox.cloudyhome.net {
    reverse_proxy https://pve1.ip.cloudyhome.net:8006 \
                  https://pve2.ip.cloudyhome.net:8006 \
                  https://pve3.ip.cloudyhome.net:8006 {
        lb_policy random
        health_uri /
        health_status 200
        health_interval 10s
        health_timeout 3s

        transport http {
            tls_insecure_skip_verify
        }
    }
    tls {
        dns porkbun {
            api_key {{ app.caddy_porkbun_api_key }}
            api_secret_key {{ app.caddy_porkbun_secret_api_key }}
        }
    }
}

s3.cloudyhome.net {
    reverse_proxy moria.ip.cloudyhome.net:9002
    tls {
        dns porkbun {
            api_key {{ app.caddy_porkbun_api_key }}
            api_secret_key {{ app.caddy_porkbun_secret_api_key }}
        }
    }
}

s3-api.cloudyhome.net {
    reverse_proxy moria.ip.cloudyhome.net:9000
    tls {
        dns porkbun {
            api_key {{ app.caddy_porkbun_api_key }}
            api_secret_key {{ app.caddy_porkbun_secret_api_key }}
        }
    }
}

nas.cloudyhome.net {
    reverse_proxy moria.ip.cloudyhome.net:80
    tls {
        dns porkbun {
            api_key {{ app.caddy_porkbun_api_key }}
            api_secret_key {{ app.caddy_porkbun_secret_api_key }}
        }
    }
}

gateway.cloudyhome.net {
    reverse_proxy https://gateway.ip.cloudyhome.net:443 {
        transport http {
            tls_insecure_skip_verify
        }
    }

    tls {
        dns porkbun {
            api_key {{ app.caddy_porkbun_api_key }}
            api_secret_key {{ app.caddy_porkbun_secret_api_key }}
        }
    }
}

sw1.cloudyhome.net {
    reverse_proxy https://sw1.ip.cloudyhome.net:443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    tls {
        dns porkbun {
            api_key {{ app.caddy_porkbun_api_key }}
            api_secret_key {{ app.caddy_porkbun_secret_api_key }}
        }
    }
}

uos.cloudyhome.net {
    reverse_proxy https://uos.ip.cloudyhome.net:11443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    tls {
        dns porkbun {
            api_key {{ app.caddy_porkbun_api_key }}
            api_secret_key {{ app.caddy_porkbun_secret_api_key }}
        }
    }
}
