name: runner sanity test

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test-runner:
    runs-on: [self-hosted]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup packer
        uses: hashicorp/setup-packer@main

      - name: validate
        run: |
          sudo apt-get install -y shellcheck ansible
          make validate
